<%= @blog.tags.join '' %>
<%= form_for(@blog) do |blog_form| %>
  <% if @blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@blog.errors.count, "error") %> prohibited this blog from being saved:</h2>

      <ul>
      <% @blog.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= blog_form.label :url %><br />
    <%= blog_form.text_field :url %>
  </div>
  <div class="field">
    <%= blog_form.label :title %><br />
    <%= blog_form.text_field :title %>
  </div>
  <div class="field">
    <%= blog_form.label :teaser %><br />
    <%= blog_form.text_field :teaser %>
  </div>
  <div class="field">
    <%= blog_form.label :content %><br />
    <%= blog_form.text_field :content %>
  </div>
  <div class="field">
  
  </div>
  <div class="field">
    <%= blog_form.label :published %><br />
    <%= blog_form.datetime_select :published %>
  </div>
  <div class="actions">
    <%= blog_form.submit %>
  </div>
<% end %>
