<h1>Listing blogs</h1>

<table>
  <tr>
    <th>Url</th>
    <th>Title</th>
    <th>Teaser</th>
    <th>Content</th>
    <th>Published</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @blogs.each do |blog| %>
  <tr>
    <td><%= blog.url %></td>
    <td><%= blog.title %></td>
    <td><%= blog.teaser %></td>
    <td><%= blog.content %></td>
    <td><%= blog.published %></td>
    <td><%= link_to 'Show', blog %></td>
    <td><%= link_to 'Edit', edit_blog_path(blog) %></td>
    <td><%= link_to 'Destroy', blog, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Blog', new_blog_path %>
