<p id="notice"><%= notice %></p>

<p>
  <b>Url:</b>
  <%= @blog.url %>
</p>

<p>
  <b>Title:</b>
  <%= @blog.title %>
</p>

<p>
  <b>Teaser:</b>
  <%= @blog.teaser %>
</p>

<p>
  <b>Content:</b>
  <%= @blog.content %>
</p>

<p>
  <b>Published:</b>
  <%= @blog.published %>
</p>


<%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Back', blogs_path %>
