- body_class 'blogs'
%div[@blog]{:class => blog_class(@blog)}
	%h1.title= @blog.title
	%ul.details
		%li.published
			Published on
			%span.published_at= @blog.published_at
	.content
		:markdown
			#{@blog.content}
	%ul.actions
		%li.action= link_to 'Edit', edit_blog_path(@blog)
		%li.action= link_to 'Back', blogs_path
