<!DOCTYPE html>
<html>
<head>
<title>Virgentech</title>
<%= stylesheet_link_tag 'blueprint/screen', :media => 'screen, projection' %>
<%= stylesheet_link_tag 'blueprint/print', :media => 'print' %>
<!--[if lt IE 8]>
  <link rel="stylesheet" href="/stylesheets/blueprint/ie.css" type="text/css" media="screen, projection">
<![endif]-->
<%= javascript_include_tag :defaults %>
<%= csrf_meta_tag %>
</head>
<body class="container">
  <header>
    <%= link_to 'Virgen Technologies', '/', :rel => 'home' %>
  </header>
  <section id="content">
    <%= yield %>
  </section>
  <footer>
    Copyright &copy; 2011 Hector Virgen. All rights reserved.
  </footer>
</body>
</html>
