!!! 5
%html
	%head
		%title Virgentech
		= stylesheet_link_tag 'blueprint/screen', :media => 'screen, projection'
		= stylesheet_link_tag 'blueprint/print', :media => 'print'
		/[if lt IE 8]
			= stylesheet_link_tag 'blueprint/ie', :media => 'screen, projection'
		= stylesheet_link_tag 'compiled/main', :media => 'screen, projection'
		= javascript_include_tag :defaults
		= csrf_meta_tag
	%body{:class => body_class}
		.foo= yield :body_class
		%header.global
			= link_to 'Virgen Technologies', '/', :rel => 'home'
		%section#content
			- flash.each do |key, value|
				%div{:class => [flash, key]}
					= value
			= yield
		- if Rails.env.development?
			.debug= debug(params)
		%footer.global Copyright &copy; 2011 Hector Virgen. All rights reserved.
